name: Build and Push Docker Image

on:
  push:
    branches:
      - master

permissions:
  packages: write
  contents: read
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Gitea Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ github.repository_owner }}/backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max